<html>
   <body>
  <h2>Education Background </h2>
  
  <table >
          <tr>
              <th>High School</th>
              <th>Subject</th>       
              </tr>
          <tr>
              <td>Mphaphuli High School </td>
          
              <ul>
                  <td>         
              <li>English</li>
                  <li>Venda</li>
                 <li>Math</li>
                  <li>Physical science</li>
                  <li>Life science</li>
                  <li> Geography</li>
              </td>    </ul>
          </tr>
    
      </table>
      <h2>Tertiary Background </h2>
          <table>
                  <tr>
                          <th>University</th>
                          <th>Modules</th>       
                          </tr>  
                      <tr>
                  <tr>
                          <td>Tshwane University of technology</td>
                          <td> <ol >
                                    
                              <li>C#</li>
                              <li>SQL</li>
                              <li>HTML</li>
                              <li> CSS</li>
                              <li> C++</li>
                             </ol></td> 
                      </tr>
                  </table>
                  <div class="footer">
                          <p>Created by Khodani Netshituka</p>
                        </div>
              </body>
</html>
