<html>
    <body>

        <h1>Contact details</h1>
        
        <p>Name</p>
        <form>
                
                <input type="text" id="fname" name="fname">
              </form>
        <p>Phone number</p>
        <form>
                
                <input type="text" id="fname" name="fname">
              </form>
        <p>email address</p>
        <form>
                
                <input type="text" id="fname" name="fname">
              </form>
        <p>Comment page</p>
        <form>
               
                <input type="text" id="fname" name="fname">
              </form>
              <button class="button">Submit</button>
    
        <div class="footer">
                <p>Created by Khodani Netshituka</p>
              </div>
    </body>
    </html>